@model Patron.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}
<style>
    .column {
        float: left;
        width: 33.33%;
        padding: 15px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="row">
        <div class="column">
            <hr />
            <h4>Zmień ustawienia konta</h4>
            <button class="btn btn-default" style="width:200px;">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword", new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword")
                }
            </button>

        </div>
        <div class="column">
            <hr />
            <h4>Panel patrona</h4>
            @if (ViewBag.patron != null)
            {
                @Html.ActionLink("Twój profil Patrona", "PatronPage",
          "Patrons", new { id = ViewBag.patron.ID }, new { @class = "btn btn-default" });
            }
            else
            {
                @Html.ActionLink("Zostań patronem!", "AddPatronProfile",
       "Patrons", new { id = ViewBag.author.ID }, new { @class = "btn btn-success" })
            }
        </div>
        <div class="column">
            <hr />
            <h4>Panel autora</h4>
            @if (ViewBag.author != null)
            {
                @Html.ActionLink("Twój profil Autora", "AuthorPage",
                 "Authors", new { id = ViewBag.author.ID }, new { @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Zostań autorem!", "AddAuthorProfile",
        "Authors", new { id = ViewBag.patron.ID }, new { @class = "btn btn-success" })
            }
        </div>
        
       






        <!--
    <dt>Logowania zewnętrzne:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Zarządzaj", "ManageLogins") ]
    </dd>
        -->
        @*
        Numery telefonów mogą być używane jako drugi składnik w systemach uwierzytelniania dwuskładnikowego.

         Zobacz <a href="https://go.microsoft.com/fwlink/?LinkId=403804">ten artykuł</a>,
                    aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET pod kątem obsługi uwierzytelniania dwuskładnikowego przy użyciu wiadomości SMS.

         Usuń komentarz z następującego bloku po skonfigurowaniu uwierzytelniania dwuskładnikowego
        *@
        @*
        <dt>Numer telefonu:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Usuń" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
        *@
        <!--
    <dt>Uwierzytelnianie dwuetapowe:</dt>
    <dd>
        <p>
            Nie skonfigurowano żadnych dostawców uwierzytelniania dwuskładnikowego. Zobacz <a href="https://go.microsoft.com/fwlink/?LinkId=403804">ten artykuł</a>,
            aby uzyskać szczegółowe informacje na temat konfigurowania tej aplikacji ASP.NET pod kątem obsługi uwierzytelniania dwuskładnikowego.
        </p>
        -->
        @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Włączone
                <input type="submit" value="Wyłącz" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Wyłączone
                <input type="submit" value="Włącz" class="btn btn-link" />
                </text>
            }
        }*@
     
    </div>
