@using Microsoft.AspNet.Identity
@model Patron.Models.Author
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<link href="~/Content/Style.css" rel="stylesheet" />

<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">
        @foreach (var item in Model.Categories)
        {
            <span>@item.Name</span>
        }
    </h4>
    <div style="text-align: right; font-size:16px;">
        wspierających:
        @ViewBag.PatronsCount
        | wpływ miesięczny:
        @ViewBag.Monthly
        | łącznie zebrano:
        @Html.DisplayFor(model => model.TotalMoney)
    </div>
</div>
<div class="row">
    <div class="leftcolumn" style="width: 40%;">
        <div style="text-align:center;">
            <img src="~/Avatars/@Model.Avatar" alt="" height="200px" width="200px" style="border-radius: 50%;" />

        </div>
        @if (@User.Identity.GetUserName() == @Model.UserName)
        {
            @Html.ActionLink("Edytuj profil", "EditProfile", new { id = Model.ID }, new { @class = "btn btn-default" })
   <hr />
            if (Model.AuthorThresholds != null)
            {
                @Html.ActionLink("Napisz post", "Create",
                                   "Posts", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Twoje posty", "ShowAuthorPosts",
                              "Posts", new { id = Model.ID }, new { @class = "btn btn-default" })
            }
            <br />
            <hr />
        }



        <i class="fa fa-envelope-open" style="font-size:27px; float: right;">
            <span style="font-size:20px">@Html.DisplayFor(model => model.UserName)</span>
        </i>
        <i class="fa fa-map-marker" style="font-size:27px; float: left;">
            <span style="font-size:20px">@Html.DisplayFor(model => model.City)</span>
        </i>
        <br />
        <br />
        <div id="authorDesc">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div id="authorGoals">
            <h3>Cele</h3>
            @Html.DisplayFor(model => model.Goals)
        </div>

        <br />
        @if (Model.FacebookLink != null)
        {<a id="FbLink" href=@Model.FacebookLink class="fa fa-facebook-square" style="font-size:50px; color:lime;">
            </a>}
        @if (Model.InstagramLink != null)
        {<a id="IgLink" href=@Model.InstagramLink class="fa fa-instagram" style="font-size:50px; color:lime;">
            </a>}
        @if (Model.YouTubeLink != null)
        {<a id="YtLink" href=@Model.YouTubeLink class="fa fa-youtube" style="font-size:50px; color:lime;">
            </a>}
        @if (Model.TwitterLink != null)
        {<a id="TwitterLink" href=@Model.TwitterLink class="fa fa-twitter-square" style="font-size:50px; color:lime;">
            </a>}
        @if (Model.OtherLink != null)
        {<a id="OtherLink" href=@Model.OtherLink class="fa fa-laptop" style="font-size:50px; color:lime;">
            </a>}
        <br />

    </div>
    <div class="rightcolumn" style="width: 60%;">



        @foreach (var item in @ViewBag.AuthorThresholds)
        {
            <div class="rounder-border">
                <h2>@item.Name</h2>
                <h4>@item.Value zł</h4>
                <p>@item.Description</p>

                @if (@ViewBag.isPatron)
                {

                    @Html.ActionLink("Przestań wspierać autora", "CancelSupport", "AuthorThresholds", new { id = item.ID }, new { @class = "btn btn-warning" })

                }
                else if (@ViewBag.isLoggedInAsPatron && @User.Identity.GetUserName() != @Model.UserName && item.Patrons.Count < item.MaxNumberOfPatrons)
                {
                    @Html.ActionLink("Wspieraj", "Support", "AuthorThresholds", new { id = item.ID }, new { @class = "btn btn-success" })

                }
                @if (@User.Identity.GetUserName() == @Model.UserName)
                {
                    @Html.ActionLink("Edytuj", "Edit", "AuthorThresholds", new { id = item.ID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Usuń", "Delete", "AuthorThresholds", new { id = item.ID }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Szczegóły", "Details", "AuthorThresholds", new { id = item.ID }, new { @class = "btn btn-info" })

                }
            </div>
        }
        @if (@User.Identity.GetUserName() == @Model.UserName)
        {
            <hr />
                @Html.ActionLink("Dodaj próg wsparcia", "Create", "AuthorThresholds", null, new { @class = "btn btn-default" })
                <hr />
        }

        @if (!@ViewBag.isPatron)
        {
            if (@ViewBag.isLoggedInAsPatron && @User.Identity.GetUserName() != @Model.UserName)
            {@Html.ActionLink("Wesprzyj jednorazowo", "Create", "Payments", new { id = Model.ID }, new { @class = "btn btn-success" })
        }
    }
       
           
    </div>
</div>

