@model Patron.Models.Author

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">
        @foreach (var item in Model.Categories)
        {
            <span>@item.Name</span>
        }
    </h4>
    <div style="text-align: right">
        wspierających:
        @ViewBag.PatronsCount
        wpływ miesięczny:
        @ViewBag.Monthly
        łącznie zebrano:
        @Html.DisplayFor(model => model.TotalMoney)
    </div>
</div>
<div class="row">
    <div class="leftcolumn">
        <img src="~/Avatars/@Model.Avatar" alt="" height="200px" width="200px" />
        <p> @Html.DisplayFor(model => model.UserName)</p>
        <p>

        </p>
        <div id="authorDesc>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div id="authorGoals">
            @Html.DisplayFor(model => model.Goals)
        </div>
        <i class="fa fa-map-marker" style="font-size:27px">
            <span style="font-size:20px">@Html.DisplayFor(model => model.City)</span>
         </i>
        <br />
        @if (Model.FacebookLink != null)
        {<a id="FbLink" href=@Model.FacebookLink class="fa fa-facebook-square" style="font-size:50px">
            </a>}
        @if (Model.InstagramLink != null)
        {<a id="IgLink" href=@Model.InstagramLink class="fa fa-instagram" style="font-size:50px">
            </a>}
        @if (Model.YouTubeLink != null)
        {<a id="YtLink" href=@Model.YouTubeLink class="fa fa-youtube" style="font-size:50px">
            </a>}
        @if (Model.TwitterLink != null)
        {<a id="TwitterLink" href=@Model.TwitterLink class="fa fa-twitter-square" style="font-size:50px">
            </a>}
        @if (Model.OtherLink != null)
        {<a id="OtherLink" href=@Model.OtherLink class="fa fa-laptop" style="font-size:50px">
            </a>}
        <br />

    </div>
    <div class="rightcolumn">



        @foreach (var item in @ViewBag.AuthorThresholds)
        {
        <div class="rounder-border">
            <h2>@item.Name</h2>
            <h4>@item.Value zł</h4>
            <p>@item.Description</p>

            @if (@ViewBag.isPatron)
            {
                @Html.ActionLink("Przestań wspierać autora", "CancelSupport", "AuthorThresholds", new { id = item.ID }, null)

            }
            else if (@ViewBag.isLoggedInAsPatron)
            {
                @Html.ActionLink("Wspieraj", "Support", "AuthorThresholds", new { id = item.ID }, null)

            }

        </div>
        }
        @if (!@ViewBag.isPatron)
        {
            @Html.ActionLink("Wesprzyj jednorazowo", "Create", "Payments", new { id = Model.ID }, null)

        }


    </div>
    </div>

