@model Patron.Models.Author

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">
        @foreach (var item in Model.Categories)
        {
            <span>@item.Name</span>
        }
    </h4>
    <div style="text-align: right">
        wspierających:
        @ViewBag.PatronsCount
        wpływ miesięczny:
        @ViewBag.Monthly
        łącznie zebrano:
        @Html.DisplayFor(model => model.TotalMoney)
    </div>
</div>
<div class="row">
    <div class="leftcolumn">
        <img src="~/Avatars/@Model.Avatar" alt="" height="200px" width="200px" />
        <p> @Html.DisplayFor(model => model.UserName)</p>

        <div id="authorDesc>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div id="authorGoals">
            @Html.DisplayFor(model => model.Goals)
        </div>
        <p id="city">@Html.DisplayFor(model => model.City)</p>
        <a id="FbLink" href=@Model.FacebookLink>@Html.DisplayFor(model => model.FacebookLink)</a>
        <a id="IgLink" href=@Model.InstagramLink>
            @Html.DisplayFor(model => model.InstagramLink)</a>
        <a id="YtLink" href=@Model.YouTubeLink>
            @Html.DisplayFor(model => model.YouTubeLink) </a>
        <a id="TwitterLink" href=@Model.TwitterLink>
            @Html.DisplayFor(model => model.TwitterLink)</a>
        <a id="OtherLink" href=@Model.OtherLink>  
        @Html.DisplayFor(model => model.OtherLink)</a>

</div>
    <div class="rightcolumn">

        

        @foreach (var item in @ViewBag.AuthorThresholds)
        {
        <div class="rounder-border">
            <h2>@item.Name</h2>
            <h4>@item.Value zł</h4>
            <p>@item.Description</p>

            @if (@ViewBag.isPatron)
            {
            <p>Wspierasz tego autora</p>
            }
            else if (@ViewBag.isLoggedInAsPatron)
            {
            @Html.ActionLink("Wspieraj", "Support", "AuthorThresholds", new { id = item.ID }, null)

            }

        </div>
        }


    </div>
    </div>

