@model Patron.Models.Author

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć tego autora?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategorie
        </dt>

        <dd>
            @foreach (var cat in @ViewBag.Categories)
            {
                @(cat.Name)
            }
        </dd>

        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Nr rachunku bankowego
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Cele
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YouTubeLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YouTubeLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()


        <div class="form-actions no-color">
            @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" }) | <input type="submit" value="Usuń" class="btn btn-danger" />

        </div>

    }
</div>
