@model Patron.Models.Author

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategorie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Nazwa użytkownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Imię
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Nr rachunku bankowego
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Cele
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwitterLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwitterLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YouTubeLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YouTubeLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
