@model Patron.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nazwa użytkownika:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Kategorie:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Rachunek bankowy:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Cele:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>

        <dt>
           Facebook
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookLink)
        </dd>

        <dt>
            Instagram
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>

        <dt>
            YouTube
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YouTubeLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
