@model Patron.Models.Goal

@{
    ViewBag.Title = "Delete";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

    <h3>Czy na pewno chcesz usunąć ten cel?</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń cel" class="btn btn-danger" />
            </div>
        }
        <div>
            @Html.ActionLink("Powrót do profilu", "AuthorPage", "Authors", new { id = @Model.Author.ID }, null)
        </div>

    </div>
