@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.AuthorThreshold>
@{
    ViewBag.Title = "Progi autorów";
}

<h2>Progi wsparcia</h2>
@using (Html.BeginForm("Index", "AuthorThresholds", FormMethod.Get))
{

    @Html.TextBox("phrase");

    <input type="submit" value="Szukaj" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Autor", "Index", new { sortOrder = ViewBag.AuthorSortParm })
        </th>
        <th>
            @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Opis
        </th>
        <th>
            @Html.ActionLink("Wartość(zł)", "Index", new { sortOrder = ViewBag.ValueSortParm })

        </th>
        <th>
            Maksymalna liczba patronów
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberOfPatrons)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))