@model Patron.Models.AuthorThreshold

@{
    ViewBag.Title = "Support";
}

<h2>
    Zostań patronem
</h2>

<div>
    <h4>
        autora
        @Html.DisplayFor(model => model.Author.FirstName)
        @Html.DisplayFor(model => model.Author.LastName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <h5>Próg:</h5>


        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dd>
            Miesięcznie: @Html.DisplayFor(model => model.Value)
        </dd>


    </dl>
</div>
<p>Czy na pewno chcesz zostać patronem?</p>
<a href="https://localhost:44321/Authors/AuthorPage/@(Model.Author.ID)" class="btn btn-danger">Cofnij</a>

@Html.ActionLink("Wspieraj", "ConfirmSupport", new { id = Model.ID }, new { @class = "btn btn-success" })


