@{
    ViewBag.Title = "";
}
@model IEnumerable<Patron.Models.Author>

<div class="jumbotron">
    <h1> <span id="patr1">Patr</span><span id="on">ON</span></h1>
    <h4>PatrON łączy Autorów z osobami, które chcą wesprzeć ich pasję nie tylko dobrym słowem, ale i finansowo. Patroni wpłacają comiesięczne lub jednorazowe kwoty na konto Autorów, a Ci mogą je wykorzystać na potrzeby swojej działalności. 
    </h4><h4>Autorzy zyskują możliwość rozwoju, a Patroni – dostęp do wyjątkowych nagród, a także bezcenną świadomość realnego wspierania pasji innych!
    </h4>
    <p> 
    <a href="/Authors/Index" class="btn btn-primary btn-lg"> Sprawdź, kogo możesz wesprzeć &raquo;</a></p>
</div>

<div class="row">
    @foreach (var item in Model)
    { 
    <div class="col-md-4">
        @Html.DisplayFor(modelItem => item.Avatar)
        <p>
            @foreach (var cat in item.Categories)
            {
            <span> @(cat.Name) </span>
            }
        </p>
        <p>
    <!-- @Html.ActionLink(item.FirstName + " " + item.LastName, "AuthorPage", "Authors/", (new { id = item.ID })) -->
            <a class="btn btn-default" href="https://localhost:44321/Authors/AuthorPage/@(item.ID)"> @item.FirstName  @item.LastName &raquo;</a>
        </p>
    </div>
    }
</div>

