@model Patron.Models.Comment

@{
    ViewBag.Title = "Dodaj komentarz";
}

<h2>@ViewBag.Author.FirstName @ViewBag.Author.LastName</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.AuthorID)
    @Html.HiddenFor(model => model.PatronID)
    <h4>Dodaj komentarz do profilu autora</h4>
    <hr />
    <div class="form-group">
       <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <p>Ocena (1-5):</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodaj komentarz" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cofnij", "AuthorComments", "Comments", new { id = @ViewBag.Author.ID }, null)

</div>
