@model Patron.Models.Comment

@{
    ViewBag.Title = "Edycja komentarza";
}

<h2>Edycja komentarza</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.AuthorID)
    @Html.HiddenFor(model => model.PatronID)
    @Html.HiddenFor(model => model.Date)

    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">


        <div class="form-group">
            <p>Ocena (1-5):</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz zmiany" class="btn btn-success" />
        </div>
    </div>
</div>
}


<div>
    @Html.ActionLink("Cofnij", "AuthorComments", "Comments", new { id = @Model.AuthorID }, null)

</div>