@model Patron.Models.Post

@{
    ViewBag.Title = "Nowy post";
}

<h2>Nowy post</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Post</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <p>Tytuł:</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>Treść:</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">
            Grupy odbiorców:
        </div>
        <div class="col-md-10">

            @foreach (var item in ViewBag.Author.AuthorThresholds)
            {
                <p><input type="checkbox" name="authorthresholds" value="@(item.ID)" />@item.Name</p>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Utwórz post" class="btn btn-success" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Cofnij", "AuthorPage",
                  "Authors", new { id = ViewBag.Author.ID }, null)
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
