@model Patron.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

<h3>Czy na pewno chcesz usunąć ten post?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Autor</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            <p>Ocena</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raiting)
        </dd>

        <dt>
            <p>Liczba głosów</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRatings)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @if (Context.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Powrót do listy postów", "Index", null, new { @class = "btn btn-default" })
        }
        else
        {
            @Html.ActionLink("Twoje posty", "ShowAuthorPosts",
                                 "Posts", new { id = Model.AuthorID }, new { @class = "btn btn-default" })
        }
    </div>
    }
</div>
