@model Patron.Models.Post

@{
    ViewBag.Title = Model.Title;
}



<div>
    <dl class="dl-horizontal">

        <dd>
            <p style="text-align:left"> <span style="font-weight: bold">Autor postu:</span> @Html.DisplayFor(model => model.Author.UserName) </p>
        </dd>
        

        <dd>
            <h2 style="text-align:center">@Html.DisplayFor(model => model.Title)</h2>
</dd>
      

        <dd style="font-size:medium">
            @Html.DisplayFor(model => model.Content)
        </dd>





    </dl>
</div>
<p>
    @if (Context.User.IsInRole("Admin"))
    {
       
@Html.ActionLink("Powrót do listy postów", "Index", null, new { @class = "btn btn-default" })
}
else
{
    if (User.Identity.Name == Model.Author.UserName)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Twoje posty", "ShowAuthorPosts",
    "Posts", new { id = Model.AuthorID }, new { @class = "btn btn-default" })
            }
   else{
        @Html.ActionLink("Twoje posty", "ShowPatronPosts",
    "Posts", new { id = Model.AuthorID }, new { @class = "btn btn-default" })
    }
    }

</p>
