@model Patron.Models.Post

@{
    ViewBag.Title = Model.Title;
}



<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Autor</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
        <dt>
            <p>Tytuł</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            <p>Treść:</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>


        <dd>
            @Html.DisplayFor(model => model.Raiting) / @Html.DisplayFor(model => model.NumberOfRatings) głosów
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Twoje posty", "ShowAuthorPosts",
                   "Posts", new { id = Model.AuthorID }, null)
</p>
