@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.Post>
@{
    ViewBag.Title = "Posty";
}
@if (ViewBag.isAuthor == true)
{
    <br />
    <p>
        @Html.ActionLink("Utwórz nowy post", "Create", null, new { @class = "btn btn-success" })
    </p>
}  
<table class="table">
    <tr>

        <th>

        </th>


        <th>
            @Html.ActionLink("Data", "ShowAuthorPosts", new { sortOrder = ViewBag.DateSortParm })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ShowAuthorPosts",
        new { page }))