@model Patron.Models.CreditCard

@{
    ViewBag.Title = "Karta kredytowa";
}

<h2>Informacje o karcie</h2>

<div>
    <h4>Karta płatnicza użytkownika @Html.DisplayFor(model => model.Patron.FirstName) @Html.DisplayFor(model => model.Patron.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <p>Typ karty</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            <p>Numer karty</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            <p>Data wygaśnięcia (MM/YY)</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationMonth) / @Html.DisplayFor(model => model.ExpirationYear)
        </dd>


        <dt>
            <p>Kod CVV</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>

        <dt>
            <p>Właściciel</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    <a href="https://localhost:44321/Patrons/PatronHomePage/@(Model.Patron.ID)">Profil Patrona</a>

</p>
