@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.Payment>

@{
    ViewBag.Title = "Płatności jednorazowe";
}
<div class="title">
    <h2 style="text-align: center;">
        @ViewBag.author.FirstName
        @ViewBag.author.LastName
    </h2>
    <h4 style="text-align: center; color: lime">jednorazowe wsparcie</h4>
</div>
@using (Html.BeginForm("AuthorOneTimePayments", "Payments", FormMethod.Get))
{
    @Html.TextBox("phrase");

    <input type="submit" value="Szukaj wg patrona" />

}
<table class="table">
    <tr>
        <th>
            <p>Patron</p>
        </th>

        <th>
            @Html.ActionLink("Data", "AuthorOneTimePayments", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Wartość", "AuthorOneTimePayments", new { sortOrder = ViewBag.ValueSortParm })
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patron.FirstName)
                @Html.DisplayFor(modelItem => item.Patron.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>

        </tr>
    }

</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AuthorOneTimePayments",
    new { page }))
<div>
   
        @Html.ActionLink("Powrót do profilu", "AuthorPage",
                           "Authors", new { id = ViewBag.author.ID }, new { @class = "btn btn-default" })
    
</div>


