@model Patron.Models.Payment

@{
    ViewBag.Title = "Płatność";
}

<h2>Usuwanie</h2>

<h3>Czy na pewno chcesz usunąć tę płatność?</h3>
<div>
    <h4>Płatność</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Autor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>

        <dt>
            Patron
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patron.UserName)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Wartość (zł)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>



        <dt>
            Częstotliwość
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodicity)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        @Html.ActionLink("Powrót do listy płatności", "Index", null, new { @class = "btn btn-default" })

    </div>
    }
</div>
