@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.Payment>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Płatności";
}

<h2>Płatności</h2>
@using (Html.BeginForm("Index", "Payments", FormMethod.Get))
{

    @Html.TextBox("phrase");

    <input type="submit" value="Szukaj" />

}
<p style="visibility:hidden">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Autor
        </th>
        <th>
            Patron
        </th>
        <th>
            @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DateSortParm })

        </th>
        <th>
          
            @Html.ActionLink("Wartość", "Index", new { sortOrder = ViewBag.ValueSortParm })

        </th>
        
        <th>
            Rodzaj płatności
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patron.FirstName)
                @Html.DisplayFor(modelItem => item.Patron.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Periodicity)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) 
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })

            </td>
        </tr>
    }

</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))