@model Patron.Models.Patron

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patron</h4>
    <hr />
    <dl class="dl-horizontal">
        <img src="~/Avatars/@ViewBag.Avt" alt="" height="50px" width="50px" />
        <dt>
            Nazwa użytkownika:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
