@model Patron.Models.Patron

@{
    ViewBag.Title = Model.FirstName+" "+Model.LastName;
}

<div>
    <h4>Patron</h4>
    <hr />
    <dl class="dl-horizontal">
        <img src="~/Avatars/@ViewBag.Avt" alt="" height="50px" width="50px" />
        <dt>
            Nazwa użytkownika:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
@if (Context.User.IsInRole("Admin"))
{<div>
     <p>
         @Html.ActionLink("Edytuj", "Edit", null, new { @class = "btn btn-warning" })
         @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" }) |
         @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
     </p>
    </div>
}
