@model Patron.Models.Patron

@{
    ViewBag.Title = "Edycja profilu";
}
<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">edytuj swój profil Patrona</h4>
</div>

@using (Html.BeginForm("EditProfile", "Patrons", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <p>Nazwa użytkownika (email)</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <p> Imię</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p> Nazwisko </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Twoje zdjęcie </p>
            <div class="col-md-10">
                <img src="~/Avatars/@Model.Avatar" alt="" height="150px" width="120px" />
                <span style="visibility:hidden">
                    @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } })
                </span>
                <p>
                    Wgraj nowe zdjęcie:
                </p>
                <input type="file" name="avatarFile2" />
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })

            </div>
           
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz zmiany" class="btn btn-success" />
            </div>
        </div>
        @Html.ActionLink("Anuluj", "PatronHomePage", new { id = Model.ID }, new { @class = "btn btn-default" })

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
