@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.Patron>
@{
    ViewBag.Title = "Patroni";
}

<h2>Patroni</h2>
@if (Context.User.IsInRole("Admin"))
{
    <br />
    @Html.ActionLink("Utwórz nowego patrona", "Create", null, new { @class = "btn btn-primary" })
    <br />
    <hr>
}
@using (Html.BeginForm("Index", "Patrons", FormMethod.Get))
{

    @Html.TextBox("phrase");

    <input type="submit" value="Szukaj" />

}
<hr />
<table class="table">
    <tr>
        <th>
            <div class="control-label col-md-2">
                Nazwa użytkownika
            </div>
        </th>
        <th>
            <div class="control-label col-md-2">
                Imię
            </div>
        </th>
        <th>
            <div class="control-label col-md-2">
                Nazwisko
            </div>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "PatronHomePage", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))