@using Microsoft.AspNet.Identity
@model Patron.Models.Patron

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}
<style>
    .limeLink:link, .limeLink:visited {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 20px;
    }

    .limeLink:hover, .limeLink:active {
        background-color: #99ff33;
    }

    .dropdown-content {
        display: none;
    }
</style>
<script>
    window.onload = function () {
        document.getElementById("showOneTimeSupportBtn").onclick = function () { oneTimeSupportFun() };
        document.getElementById("inActiveSubBtn").onclick = function () { inActiveSupportFun() };

    }
    function oneTimeSupportFun() {
        document.getElementById("oneTimeList").classList.toggle("show");
    }
    function inActiveSupportFun() {
        document.getElementById("inActiveList").classList.toggle("show");
    }
</script>

<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">wspiera talenty</h4>
</div>
<div class="row">
    <div class="leftcolumn" style="width: 50%;">
        <div>
            <div style="text-align:center;">
                <img src="~/Avatars/@Model.Avatar" alt="" height="200px" width="200px" style="border-radius: 50%;" />

            </div>
            <i class="fa fa-envelope-open" style="font-size:27px; float: left;">
                <span style="font-size:20px">@Html.DisplayFor(model => model.UserName)</span>
            </i>
            <hr />

            <h4>Suma wpłat:  @ViewBag.TotalMonay </h4>
            @if (@User.Identity.GetUserName() == @Model.UserName)
            {
                @Html.ActionLink("Edytuj profil", "EditProfile", new { id = Model.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Twoje płatności", "PatronPayments",
  "Payments", new { id = Model.ID }, new { @class = "btn btn-default" })
            }
        </div>
        <div>
            <h4>Płatności w tym miesiącu(nadchodzące): @ViewBag.SumIncomingPayments zł</h4>
            @foreach (var p in ViewBag.IncomingPayments)
            {
            <p>@p.Author.FirstName @p.Author.LastName >> @p.Value zł</p>
            }
        </div>
    </div>
    <div class="rightcolumn" style="width: 50%;">
        @if (@User.Identity.GetUserName() == @Model.UserName)
        {
            @Html.ActionLink("Zobacz wszystkie posty", "ShowPatronPosts",
  "Posts", new { id = Model.ID }, new { @class = "btn btn-default" })

        }
        @if (@ViewBag.CountActiveSub > 0)
        {
            <dt>
                Aktywne subskrupcje:
                @ViewBag.CountActiveSub
            </dt>

            <dd>
                @foreach (var asub in @ViewBag.ActiveSubscriptions)
                {
                    <div class="rounder-border">
                        <div class="leftcolumn" style="width: 50%; background-color: white;">
                            <div style="text-align:center;">
                                <br />
                                <img src="~/Avatars/@asub.Author.Avatar" alt="" height="100px" width="100px" style="border-radius: 8px;" />
                            </div>
                        </div>
                        <div class="rightcolumn" style="width: 50%;">
                            <br />
                            <a class="limeLink" href="https://localhost:44321/Authors/AuthorPage/@(asub.Author.ID)">@(asub.Author.FirstName) @(asub.Author.LastName)</a>
                        </div>

                        <div style="text-align:right;">
                            <h4 style="visibility:hidden"> Próg</h4>
                            <h4>@(asub.Value)zł/miesięcznie </h4>
                            <h3>@(asub.Name)</h3>
                        </div>
                        <div style="text-align:center;">
                            @if (@User.Identity.GetUserName() == @Model.UserName)
                            {
                                @Html.ActionLink("Zobacz posty", "ShowAuthorPosts",
                  "Posts", new { id = asub.Author.ID, idpatrona = Model.ID }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Przestań wspierać autora", "CancelSupport", "AuthorThresholds", new { id = asub.ID }, new { @class = "btn btn-warning" })

                            }
                        </div>
                    </div>
                }
            </dd>
        }
        else
        {
            if (@User.Identity.GetUserName() == @Model.UserName)
            {
                <p>W tej chwili nie wspierasz żadnych twórców.</p>
            }
            else
            {
                @Model.FirstName <span>nie wspiera obecnie żadnych twórców.</span>
            }
        }
        @if (ViewBag.OneTimeSupportCount > 0)
        {
            <button id="showOneTimeSupportBtn" style="width: 80%; float :right;">Wpłaty jednorazowe</button>
            <div id="oneTimeList" class="dropdown-content">
                <dt style="width: 70%; float :right;">Jednorazowo udzielone wsparcie:</dt>
                <dd>
                    @foreach (var oneTime in ViewBag.OneTimeSupport)
                    {
                        <div class="rounder-border" style="width: 70%; float :right;">
                            <div class="leftcolumn" style="width: 50%; background-color:white;">
                                @if (@oneTime.Author.Avatar != null)
                                {
                                    <img src="~/Avatars/@oneTime.Author.Avatar" alt="" height="70px" width="70px" style="border-radius: 8px;" />
                                }
                                else
                                {
                                    <img src="~/Avatars/example.png" alt="" height="70px" width="70px" style="border-radius: 8px;" />

                                }
                            </div>
                            <div class="rightcolumn" style="width: 50%;">
                                <a href="https://localhost:44321/Authors/AuthorPage/@(oneTime.Author.ID)">@(oneTime.Author.FirstName) @(oneTime.Author.LastName)</a>
                                <p>@(oneTime.Value)zł</p>
                            </div>

                        </div>
                    }
                </dd>
            </div>
        }
        @if (ViewBag.InActiveSubCount > 0 && @User.Identity.GetUserName() == @Model.UserName)
        {
            <button id="inActiveSubBtn" style="width: 80%; float :right;">Autorzy, których już nie wspierasz</button>
            <div id="inActiveList" class="dropdown-content">
                <dt style="width: 70%; float :right;">Niektywne subskrupcje:</dt>
                @foreach (var nsub in ViewBag.InActiveSub)
                {<div class="rounder-border" style="width: 70%; float :right;">
                        <div class="leftcolumn" style="width: 50%; background-color:white;">
                            @if (@nsub.Avatar != null)
                            {
                                <img src="~/Avatars/@nsub.Avatar" alt="" height="70px" width="70px" style="border-radius: 8px;" />
                            }
                            else
                            {
                                <img src="~/Avatars/example.png" alt="" height="70px" width="70px" style="border-radius: 8px;" />

                            }

                        </div>
                        <div class="rightcolumn" style="width: 50%;">
                            <br />
                            <a href="https://localhost:44321/Authors/AuthorPage/@(nsub.ID)">@(nsub.FirstName) @(nsub.LastName)</a>
                        </div>
                    </div>

                }
            </div>
        }





    </div>
