@using Microsoft.AspNet.Identity
@model Patron.Models.Patron

@{
    ViewBag.Title = Model.FirstName+" "+Model.LastName;
}
<div class="title">
    <h2 style="text-align: center;">
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h2>
    <h4 style="text-align: center; color: lime">wspiera talenty</h4>
</div>
<div class="row">
    <div class="leftcolumn">
        <div>

       
            <div style="text-align:center">
                <img src="~/Avatars/@ViewBag.Avt" alt="" height="170px" width="150px" />
            </div>
            
                <p>
                    @Html.DisplayFor(model => model.UserName)
                </p>
           

            <h4>Suma wpłat:  @Html.DisplayFor(model => model.TotalMoney)</h4>

        </div>
    </div>
    <div class="rightcolumn">
        @if (@ViewBag.CountActiveSub > 0)
        {
            <dt>
                Aktywne subskrupcje:
                @ViewBag.CountActiveSub
            </dt>

            <dd>
                @foreach (var asub in @ViewBag.ActiveSubscriptions)
                {
                    <div>

                        <a href="https://localhost:44321/Authors/AuthorPage/@(asub.Author.ID)">@(asub.Author.FirstName) @(asub.Author.LastName)</a>
                        @(asub.Value)zł/miesięcznie
                        @(asub.Name)
                    </div>
                }
            </dd>
        }
        else
        {
            if (@User.Identity.GetUserName() == @Model.UserName)
            {
                <p>W tej chwili nie wspierasz żadnych twórców.</p>
            }
            else
            {
                @Model.FirstName <span>nie wspiera obecnie żadnych twórców.</span>
            }
        }




        @if (@ViewBag.CountInActiveSub > 0)
        {
            <dt>
                Niektywne subskrupcje:

            </dt>
            <dd>
                @foreach (var nsub in @ViewBag.InActiveSub)
                {
                    <div>

                        <a href="https://localhost:44321/Authors/AuthorPage/@(nsub.Author.ID)">@(nsub.Author.FirstName) @(nsub.Author.LastName)</a>
                        @(nsub.Value)zł/miesięcznie
                        @(nsub.Name)
                    </div>

                }
            </dd>
        }
        @if (@ViewBag.OneTimeSupportCount > 0)
        {
            <dt>Jednorazowo udzielone wsparcie:</dt>
            <dd>
                @foreach (var oneTime in @ViewBag.OneTimeSupport)
                {
                    <div>
                        <a href="https://localhost:44321/Authors/AuthorPage/@(oneTime.Author.ID)">@(oneTime.Author.FirstName) @(oneTime.Author.LastName)</a>
                        @(oneTime.Value)zł

                    </div>
                }
            </dd>
        }
        @if (@User.Identity.GetUserName() == @Model.UserName)
        {

            @Html.ActionLink("Napisz post", "Create", "Posts", new { id = Model.ID })

            @Html.ActionLink("Edytuj profil", "EditProfile", new { id = Model.ID })
            <br />
            <a href="https://localhost:44321/Payments/PatronPayments/@(Model.ID)">Twoje płatności</a>
            <br>
            <a href="https://localhost:44321/CreditCards/Details/@(Model.CreditCard.ID)">Twoja karta</a>

        }

    </div>
</div>
<p>

</p>
