@using Microsoft.AspNet.Identity
@model Patron.Models.Patron

@{
    ViewBag.Title = "PatronHomePage";
}

<h2>PatronHomePage</h2>

<div>
    <h4>Patron</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img src="~/Avatars/@ViewBag.Avt" alt="" height="100px" width="100px" />
        </dd>
        <dt>
            Aktywne subskrupcje:
            @ViewBag.CountActiveSub
        </dt>
        <dd>
            @foreach (var asub in @ViewBag.ActiveSubscriptions)
            {
                @(asub.Value)
                @(asub.Name)
                @(asub.Author.FirstName)
                @(asub.Author.LastName)
                <a href="https://localhost:44321/Authors/Details/@(asub.Author.ID)">@(asub.Author.LastName)</a>
            }
        </dd>
        <dt>
            Niektywne subskrupcje:
            @ViewBag.CountInActiveSub
        </dt>
        <dd>
            @foreach (var nsub in @ViewBag.InActiveSubscriptions)
            {
                @(nsub.Value)
                @(nsub.AuthorThreshold.Author.FirstName)

            }
        </dd>
        <dt>Łacznie wpłacono: @ViewBag.AllPayments</dt>
        <dt>Jednorazowe:</dt>
        <dd>
            @foreach (var oneTime in @ViewBag.OneTimeSupport)
            {
                @(oneTime.Value)
                @(oneTime.AuthorThreshold.Author.FirstName)

            }
            
            @if (@User.Identity.GetUserName() == @Model.UserName)
            {
                <p>JESTES ZALOGOWANY, A TO TWOJA STRONA</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
