@model IEnumerable<Patron.Models.Category>

@{
                ViewBag.Title = "Kategorie";
}

<h2>Kategorie</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    -->


@foreach (var item in Model)
{
<div class="col-xs-3">

    <a class="btn btn-default"
        @Html.ActionLink(item.Name, "ShowAuthors", new { id = item.ID})
    
</div>
            <!--
    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    -->
            }

<br />
<br />
