@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Patron.Models.Author>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Autorzy";
}

<h2>@ViewBag.Category.Name</h2>
<h4>Szukaj autorów w tej kategorii</h4>

@using (Html.BeginForm("ShowAuthors", "Categories", FormMethod.Get))
{

    @Html.TextBox("phrase");

    <input type="submit" value="Szukaj" />

}


@foreach (var item in Model)
{
    <div class="col-xs-2">
        <div style="border: 1px solid #e6e6e6;
    border-radius: 8px; text-align:center;">

            @Html.ActionLink(item.FirstName + " " + item.LastName,"AuthorPage", "Authors", new { id = item.ID }, new { @style = "text-decoration:none; font-size:15px;" })

            <img src="~/Avatars/@item.Avatar" alt="" height="100px" width="100px" />
            @if (Context.User.IsInRole("Admin"))
            {@Html.ActionLink("Szczegóły", "Details", "Authors", new { id = item.ID }, new { @class = "btn btn-success" })}
        </div>
    </div>
}
<br />
<br />
Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))